
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header */

.sectionContainer{
    scroll-snap-type: y mandatory; 
    scroll-snap-align: start; 
}
nav {
    padding: 1rem;
    display: flex;
    border: #6d6d6d;
    position: fixed;
    height: 9vh;
    width: 100%;
    z-index: 99;
}
nav ul{
    position: fixed;
    list-style: none;
    right: 0;
    top: 0;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin: 1vw;
}
.checkbtn{
    display: none;
}
@media  screen and (max-width: 768px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        list-style: none;
        right: 0;
        top: 0;
    
        width: 100%;
        height: auto;

        background-color: #41644A;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul.inactive{
        display: none;
    } 
}
nav li {
    display: block;
    margin: 1vw;
}
nav a {
    display: flex;
    color: #41644A;
    font-weight: bold;
    font-size: 1.3rem;
}

nav a:hover {
    transform: translateY(-7px);
}
.logo{
    justify-self: left;
    width: 3vw;
    height: 3vw;
    margin-right: 27vw 
}
.checkbtn{
    justify-self: right;
    align-self: right;
    cursor: pointer;
    margin-left: 1vw;
}
.checkbtn img{
    height: 2vw;
    width: 2vw;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}
.socials{
    background-color: none;
    width: fit-content;
}

.socials ul{
    background-color: none;
    display: flex;
    text-align: center;
}
.socials img{
    height: 2vw;
    width: 2vw;
    margin: 5px;
}

section{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*home*/
#home {
    height: 100vh;
    display: flex;
    background-color: #DDFFBB;
    z-index: 99;
}
.home1{
    position: relative;
    flex-direction: column;
    display: flex;
    width: fit-content;
    height: fit-content;
    animation: animate 3s alternate infinite;
}
#home .me{
    flex-wrap: wrap;
    font-size: 15vw;
    font-family: 'Jakarta Brittany', sans-serif;       
    color: #fff;
    line-height: 0;
    margin-bottom: 2vw;
    margin-top: 5vw;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: float 3s infinite; 
}
@keyframes float {
0%,
100% {
    transform: translateY(0); /* Set the initial and final position of the div */
}
50%{
    transform: translateY(-50px)
}
}

#home .me:hover{
    color: #41644A ;
}
#home .greet {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 8vw;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#home .btn {
    color: #333;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}
#home .btn:hover {
    cursor: pointer;
}

#planebtn{
    cursor: pointer;
    margin-top: 2vw;
    flex-wrap: wrap ;
    width: 5rem;
    height: 4rem;
    transform: rotate(200deg);
}
/*ABOUT*/
#about{
    height: 100vh;
    margin: none;
    z-index: 99;
    justify-content: center;
}
#about .meh{
    justify-self: right;
    text-align: center;
    line-height: -5vh;
    align-self: center;
    padding: 5vw
}

#about .meh h1{
    font-family: 'Jakarta Brittany', sans-serif;                                
    font-size: 6rem;
    line-height: 0;
    text-align: center;
    color: #537537;
}

.containerAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.abouts{
    position: relative;
}

.abouts .About-Card{
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 70vw;
    height: 21vh; 
}
#about p {
    font-family: 'Two Weekends Sans', sans-serif;                          
    font-size: 1.5rem;
    color: #537537;;
}


/*1st cardboard*/
.toleft{
    transform: translateX(-550px);
    opacity: 0;
    transition: transform 0.8s ease-out ;
}
.toleft.active{
    transform: translateX(0px);
    opacity: 100;
}

/*2nd cardboard*/
.toright{
    transform: translateX(550px);
    opacity: 0;
    transition: transform 0.8s ease-out ;
}
.toright.active{
    transform: translateX(0px);
    opacity: 100;
}


/*for skills*/
.toUp{
    transform: translateY(550px);
    opacity: 0;
    transition: transform 0.8s ease-out ;
}
.toUp.turnUp{
    transform: translateY(0px);
    opacity: 100;
}

/*SKill*/


#skill{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A4BC92;
}

.skillTitle p{
    text-align: center;
    align-self: center;
    font-size: 6vw;
    font-family: 'Jakarta Brittany', sans-serif; 
    font-weight: bolder;
    line-height: 0;
    padding: 0;
}

.skillset{
    display: flex;
    gap: 1rem;
    width: 70vw;
    margin-top: 1vw;
}
.skillset div{
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 7vw;
    width: 20vw;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.skillset div:hover{
    flex: 2;
}
.ExpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}
.skillExplanation{
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 70vw;
    height: fit-content;
    font-size: 3vh;
    margin-bottom: 5vw;
    font-family: 'Two Weekends Sans', sans-serif;
}
/* Projects Section */
#portfolio {
    display: flex;
    height: 100vh;
    background-color: #C7E8CA;
    }
#portfolio h2{
    padding: 0;
    margin: 0;
}
#portfolio p{
    margin-top: 5vw;
    font-size: 20vw;
    font-family: 'Jakarta Brittany', sans-serif; 
}
/* Contact Section */
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
#contact .contactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
    background-color: #B3C99C;
    border-radius: 20px;
    padding: 20px;
    outline: 2.5px solid #41644A;
}
#contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}
#contact .insContact{
    width: 60%
}
#contact p{
    font-size: 1rem;
    text-align: justify;
}
#contact form {
    display: flex ;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2vw;
}
#contact form input,
#contact form textarea {
    align-self: center;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    outline: 2.5px solid #41644A;
}
#contact form input:focus,
#contact form textarea:focus {
    outline: none;
    outline: 2.5px solid #41644A;
}
#contact form textarea {
    resize: none;
    height: 100px;
}
.submitBtn {
    color: #4b7f5b;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    outline: 2.5px solid #41644A;
    transition: outline-offset .1s ease-out;
    width: 1vw;
}
.submitBtn:hover {
    cursor: pointer;
    outline-offset: 5px;
}

/* Footer */
footer {
    background-color: #C9F4AA;
    color: #333;
    padding: 1rem;
    text-align: center;
}
footer p {
    margin: 0;
}
.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

