
@media (max-width: 768px) {


#home .me{
    flex-wrap: wrap;
    font-size: 30vw;
    font-family: 'Jakarta Brittany', sans-serif;       
    color: #fff;
    line-height: 1;
    margin-bottom: 2vw;
    margin-top: 5vw;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: float 3s infinite; 
}
@keyframes float {
0%,
100% {
    transform: translateY(0); /* Set the initial and final position of the div */
}
50%{
    transform: translateY(-50px)
}
}

#home .me:hover{
    color: #41644A ;
}
#home .greet {
    font-size: 10vw;
    font-weight: bold;
    margin-top: 8vw;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#about{
    flex-direction: column;
    height: 100vh;
}
#about .meh{
    color: #537537;
}

#about .meh h1{
    font-family: 'Jakarta Brittany', sans-serif;                                
    font-size: 8vh;
    line-height: 0;
    text-align: center;
    color: #537537;
}

.containerAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abouts .About-Card{
    position: relative;
    display: flex;
    text-align: justify;
    width: 70vw;
    height: 21vh; 
}

#about p {
    font-family: 'Utendo', sans-serif;                            
    font-size: 2.5vh;
    color: #537537;
}

#skill{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #A4BC92;
    height: 100vh;
}
.skillTitle {
    margin-top: 5vh;
}
.skillTitle p{
    text-align: center;
    align-self: center;
    font-size: 15vw;
    font-family: 'Jakarta Brittany', sans-serif; 
    font-weight: bolder;
    line-height: 0;
    padding: 0;
}
.skillset{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100vw;
}
.skillset div{
    flex: 1;
    flex-wrap: wrap;
    height: 20vw;
    width: 50vw;
    background-position: center;
    background-size: 10vw;
    background-repeat: no-repeat;
    transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.skillset div:hover{
    flex: 2;
}
.ExpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

.skillExplanation{
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 70vw;
    height: 60vh;
    font-size: 2vh;
    font-family: 'Two Weekends Sans', sans-serif;
}
/* Contact Section */
#contact {
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-direction: column;
}
#contact .contactContainer{
    display: flex;
    width: 80vw;

}

/* Contact Section */
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
#contact .contactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    background-color: #B3C99C;
    border-radius: 20px;
    padding: 20px;
    outline: 2.5px solid #41644A;
}

#contact .insContact{
    width: 80%
}

#contact form {
    display: flex ;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2vw;
}
.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.socials{
    width: 40vw;
}
.socials img{
    height: 10vw;
    width: 10vw;
}

}

@media  screen and (max-width: 768px) {
    .checkbtn{
        display: block;
        margin-left: 44vw;
    }
    nav{
        padding: 3vh;
    }
    nav ul{
        position: fixed;
        list-style: none;
        right: 0;
        top: 0;
    
        width: 100%;
        height: auto;

        background-color: #41644A;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul.inactive{
        display: none;
    } 
    
    nav a {
        display: flex;
        color: #8aae93;
        font-weight: bold;
        font-size: 1.3rem;
    }
        
    .logoDisplay{
        justify-self: left;
        width: 9vw;
        height: 9vw;
    }
    .checkbtn img{
        height: 9vw;
        width: 9vw;
    }
}



